# Ignore test files for functions - those are just for me :)

src/centreOfChargeTest.cxx
src/iteratorTest.cxx
src/sgnTest.cxx
src/sizeMain.cxx
src/testnHits.cxx
src/sortTest.cxx
src/missingHitsTest.cxx
rceCode/*

